<div id="menuPanel" data-role="panel" data-theme="b" data-display="overlay" data-transition="fade">
   <ul data-role="listview"  class="ui-listview" id="ulcalpanel" >
	<li><a href="#" class="ui-btn ui-btn-icon-left ui-icon-home" onclick="gotoIndex()">Home</a></li>
	<li><a href="#" class="linkCALENDAR" onclick="gotoCalendar()">Planning</a></li>
	<li><a href="#" class="linkREACHME" onclick="">Reach Me</a></li>
	<li><a href="#" class="linkELIBRARY" onclick="gotoElib()">e-Library</a></li>
	<li><a href="#" class="linkSOCIAL" onclick="">Social</a></li>
	<li><a href="#" class="linkTRYBUY" onclick="">Try and buy</a></li>
	<li><a href="#" class="linkOTHER" onclick="">Other Capabilities</a></li>
	<li data-role="list-divider">&nbsp;</li>
	<li><a href="#" class="linkEXIT" onclick="exitapp()">Exit</a></li>
	<li><a href="/auth/facebook">Login with FB</a></li>
	</ul>  	
</div>	