<div id="accountPanel" data-role="panel" data-theme="b" data-display="overlay" data-transition="slide" data-position="right">
   <ul data-role="listview"  class="ui-listview" id="ulaccountpanel" >
	<li>
	  <span class="smallslim bold" style="color: lightblue;" id="useremail"></span>
	</li>
	<li data-icon="false"><a href="#" data-icon="false" class="slinkCALENDAR" onclick="changePassword()"><span class="smallslim">Change password</span></a></li>
	<li data-icon="false"><a href="#" class="slinkREACHME" onclick="doLogout()"><span class="smallslim">Log Out</span></a></li>
	<li data-icon="false"><a href="#" class="slinkREACHME" onclick="exitapp()"><span class="smallslim">Exit app</span></a></li>
	</ul>  	
</div>	