<div id="menuPanel" data-role="panel" data-theme="b" data-display="overlay" data-transition="fade">
   <ul data-role="listview"  class="ui-listview" id="ulcalpanel" >
	<li><a href="#" class="ui-btn ui-btn-icon-right ui-icon-home" onclick="gotoIndex()">Home</a></li>
	<li><a href="#" class="ui-btn ui-btn-icon-right ui-icon-planner" onclick="gotoCalendar()">Planning</a></li>
	<li><a href="#" class="ui-btn ui-btn-icon-right ui-icon-reachme" onclick="gotoReachMe()">Reach Me</a></li>
	<li><a href="#" class="ui-btn ui-icon-elibrary ui-btn-icon-right" onclick="gotoElib()">e-Library</a></li>
	<li><a href="#" class="ui-btn ui-icon-social ui-btn-icon-right" onclick="">Social</a></li>
	<li><a href="#" class="ui-btn ui-icon-trybuy ui-btn-icon-right" onclick="">Try and buy</a></li>
	<li><a href="#" class="ui-btn ui-icon-othercapa ui-btn-icon-right" onclick="">Other Capabilities</a></li>
	<li data-role="list-divider">&nbsp;</li>
	<li><a href="#" class="ui-btn ui-icon-logout ui-btn-icon-right" onclick="doLogout()">Logout</a></li>
		<li><a href="#" class="ui-btn ui-icon-exit ui-btn-icon-right" onclick="exitapp()">Exit App</a></li>
	<!--<li><a href="/auth/facebook">Login with FB</a></li>-->
	</ul>  	
</div>	