<div id="menuPanel" data-role="panel" data-theme="b" data-display="overlay" data-transition="fade"  class="sfondo">
   <ul data-role="listview"  class="ui-listview" id="ulcalpanel" >
  
	<li><a href="#" class="ui-btn" onclick="gotoIndex()"><i class="fa ui-icon-homepage"></i> Home</a></li>
	<li><a href="#" class="ui-btn" onclick="gotoCalendar()"><i class="fa ui-icon-planner"></i> Planning</a></li>
	<li><a href="#" class="ui-btn" onclick="gotoReachMe()"><i class="fa ui-icon-reachme"></i> Reach Me</a></li>
	<li><a href="#" class="ui-btn" onclick="gotoElib()"><i class="fa ui-icon-elibrary"></i> e-Library</a></li>
	<li><a href="#" class="ui-btn" onclick="gotoSocial()"><i class="fa ui-icon-social"></i> Social</a></li>
	<li><a href="#" class="ui-btn" onclick="gotoTryAndBuy()"><i class="fa ui-icon-trybuy"></i> Try and buy</a></li>
	<li><a href="#" class="ui-btn" onclick="gotoTools()"><i class="fa ui-icon-othercapa"></i> Other Capabilities</a></li>
	<li data-role="list-divider">&nbsp;</li>
	<li><a href="#" class="ui-btn" onclick="doLogout()"><i class="fa ui-icon-logout"></i> Logout</a></li>
	<li><a href="#" class="ui-btn" onclick="exitapp()"><i class="fa ui-icon-escilo"></i> Exit App</a></li>
	<!--<li><a href="/auth/facebook">Login with FB</a></li>-->
	</ul>  	
</div>	